.container {
  gap: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  gap: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parte1 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.parte2 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav img {
  width: 10rem;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--pink-700);
  height: 9rem;
  width: 100vw;
  gap: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.nav h1 {
  color: var(--white);
  margin: 0;
}

.nav p {
  color: var(--white);
  margin: 0;
}

fieldset {
  font-weight: bold;
  font-size: 1rem;

  border: 1.8px solid #7f004a;

  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
  width: 80vw;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='tel'] {
  padding: 0.5em;
  border: 1px solid #eb9ac9;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  display: inside;
  margin-left: 0.5rem;
  border-radius: 5px;
}

.form-group-estado {
  display: flex;
  gap: 0.5rem;
}

.botao1 {
  padding: 1rem;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  opacity: 0.6;
}

.botao1:hover {
  opacity: 1;
}

.botao2 {
  padding: 1rem;
  border: none;
  background: #7f004a;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0.8;
}

.botao2:hover {
  opacity: 1;
}

i {
  margin-right: 0.5rem;
}

.option {
  font-size: 1rem;
}
