.searchSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 100vh;
  gap: 3rem;

  align: center;
}

.searchForm {
  margin-inline: auto;
  border: 1px solid var(--pink-700);
  border-radius: 3px;
  display: flex;
  width: 70vw;
  margin-top: 5rem;
}

.input {
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
}

.input::placeholder {
  font-size: 1rem;
  padding: 0.5rem;
}

.button {
  border: none;
  background-color: var(--pink-700);
  border-radius: 3px;
  width: 2.5rem;
  cursor: pointer;
  color: var(--white);
}

.button:hover {
  background-color: var(--pink-600);
}
