.tittle {
  text-align: left;
  margin: 4rem;
}
h2 {
  text-align: left;
  background-color: var(--brand-beige);
  color: var(--pink-700);
  width: 80%;
  margin: auto;
  text-transform: uppercase;
}

.content li {
  font-size: 1rem;
  justify-content: center;
  margin-top: 1rem;
  text-align: justify;
  color: black;
}

.button {
  background: var(--pink-700);

  border: none;
  border-radius: 4rem;

  padding: 1rem;
  width: fit-content;

  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;

  text-decoration: none;

  transition: background 200ms;
}

.button:hover {
  background-color: var(--pink-600);
}
